.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.login-paper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 70vh;
  height: 45vh;
}  

.header-div {
  display: flex;
  justify-content: space-between;
}

.header-image {
  height: 50px;
}
  